/* Denna fil skall innehålla din CSS kod */

#container {
    display: grid;
    width: 1080px;
    height: 100vh;
}

.boxxxx{
    padding: 10px;
    width: 1080px;
    height: 100px;
    background-color: lightgray;
    position: relative;
}

.boxxxxx{
    padding: 10px;
    width: 1080px;
    height: 300px;
    position: relative;
}

#bild4 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#arrow {
    padding: 10px;
    width: 80px;
    height: 80px;
}

.head {
    width: 1080px;
    height:100px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
}

.box {
    padding: 10px;
    width: 1080px;
    height: 700px;
    position: relative;
}
.boxx {
    padding: 10px;
    width: 1080px;
    height: 700px;
    position: relative;
}
.boxxx {
    padding: 10px;
    width: 1080px;
    height: 700px;
    position: relative;
}

.box1 {
    padding: 10px;
    width: 1080px;
    height: 1500px;
    background-color: lightgray;
    position: relative;
}

.lk {
    width: 200px;
    height:100px;
    background-color: lightgray;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
}

.ko {
    width: 200px;
    height:100px;
    background-color: lightgray;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
}

.bn {
    width: 200px;
    height:100px;
    background-color: lightgray;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
}

#bild {
    width: 1080px;
    height: 700px;
}

#bild2 {
    width: 1080px;
    height: 700px;
}

#bild3 {
    width: 1080px;
    height: 700px;
}

#text {
    font-size: 30px;
}