/* Denna fil skall innehålla din CSS kod */

#container {
    width: 375px;
    height: 2000px;
    display: grid;
    grid-column: 3;
    grid-auto-rows: repeat 1fr;
    grid-template-areas:
    'nav'
    'hd'
    'mn'
    'ft'
}

body {
    background-image: url("../img/dal.jpg");
}

header {
    grid-area: hd;
    background-color: darkgray;
    text-align: center;
}

img {
    width: 100%;
    
}

main {
    grid-area: mn;
    background-color: #F5F0E9;
    text-align: center;
}

footer {
    grid-area: ft;
    background-color: #A8A5A0;
    text-align: center;
}

nav {
    grid-area: nav;
    grid-row: 1fr;
}

.grid {
    align-items: stretch;
}