/* Denna fil skall innehålla din CSS kod */

#container {
    display: grid;
    grid-template-areas:
    'hd'
    'mn'
    'mn'
    'ft'
}

@media only screen and (max-width: 1080px){
  #container  {
      display: grid;
      grid-template-areas:
      'hd'
      'mn'
      'mn'
      'ft'

    }
}

header {
    grid-area: hd;
    background-color: silver;
    text-align: center;
}



main {
    grid-area: mn;
    background-color: lightgray;
    text-align: center;
}

footer {
    grid-area: ft;
    background-color: silver;
    text-align: center;
}

#header {
    margin: auto;
}